name: CI

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64, aarch64]
    steps:
      - uses: actions/checkout@v2

      - name: Clone TDLib repository
        run: git clone https://github.com/tdlib/td.git && cd td && git checkout 8517026415e75a8eec567774072cbbbbb52376c1

      - name: Build TDLib
        if: ${{ matrix.arch == 'x86_64' }}
        run: |
          sudo apt-get update -q -y
          sudo apt-get install -y gperf
          mkdir td/build && cd td/build
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/app ..
          sudo cmake --build . --target install

      - name: Build TDLib on QEMU
        if: ${{ matrix.arch != 'x86_64' }}
        uses: uraimo/run-on-arch-action@v2
        with:
          arch: ${{ matrix.arch }}
          distro: ubuntu_latest

          setup: |
            sudo mkdir /app

          dockerRunArgs: |
            --volume /app:/app

          env: |
            DEBIAN_FRONTEND: noninteractive
            TZ: Etc/UTC

          install: |
            apt update
            apt install -y make git zlib1g-dev libssl-dev gperf cmake g++

          run: |
            mkdir td/build && cd td/build
            cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/app ..
            cmake --build . --target install

      - uses: actions/upload-artifact@v2
        with:
          name: tdjson-${{ matrix.arch }}
          path: |
            /app/lib/libtdjson.so.*
            /app/lib/pkgconfig
