name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64, aarch64]
    steps:
      - uses: actions/checkout@v2

      - name: Clone TDLib repository
        run: git clone https://github.com/tdlib/td.git && cd td && git checkout 054a823c1a812ee3e038f702c6d8ba3e6974be9c

      - name: Build TDLib
        if: ${{ matrix.arch == 'x86_64' }}
        run: |
          sudo apt-get update -q -y
          sudo apt-get install -y gperf
          mkdir td/build && cd td/build
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/app ..
          sudo cmake --build . --target install

      - name: Build TDLib on QEMU
        if: ${{ matrix.arch != 'x86_64' }}
        uses: uraimo/run-on-arch-action@v2
        with:
          arch: ${{ matrix.arch }}
          distro: bullseye

          setup: |
            sudo mkdir /app

          dockerRunArgs: |
            --volume /app:/app

          install: |
            apt-get update -q -y
            apt-get install -y git zlib1g-dev libssl-dev gperf cmake g++

          run: |
            mkdir td/build && cd td/build
            cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/app ..
            cmake --build . --target install

      - uses: actions/upload-artifact@v2
        with:
          name: tdjson-${{ matrix.arch }}
          path: |
            /app/lib/libtdjson.so.*
            /app/lib/pkgconfig
